[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ADDT"]
	path = ADDT
	url = https://github.com/cran/ADDT
[submodule "MICsplines"]
	path = MICsplines
	url = https://github.com/cran/MICsplines
[submodule "poibin"]
	path = poibin
	url = https://github.com/cran/poibin
[submodule "PoissonMultinomial"]
	path = PoissonMultinomial
	url = https://github.com/cran/PoissonMultinomial
[submodule "SpatialVS"]
	path = SpatialVS
	url = https://github.com/cran/SpatialVS
[submodule "SPREDA"]
	path = SPREDA
	url = https://github.com/cran/SPREDA
